* {
  font-family: "Open Sans", serif;
}
a {
  color: #303030;
}
a:hover {
  color: #303030;
  text-decoration: none;
}

/* Font*/
h1 {
  font-weight: 300;
}
.color-dark {
  color: #303030 !important;
}
.color-red {
  color: #cd212a !important;
}
.font-m {
  font-size: 0.875rem;
}
.font-sm {
  font-size: 0.75rem;
}

/* Main Page */
.fab,
.far {
  font-size: 26px;
  color: #828282;
}
.fab:hover,
.far:hover {
  text-decoration: none;
  color: #cd212a;
  transition: 0.5s;
}
.letter-space {
  letter-spacing: 1px;
}
.skill-sets {
  color: #999;
  letter-spacing: 2px;
}

/* Navigation */
nav {
  width: 80%;
  margin: 0 auto;
}

.nav-item a {
  text-decoration: none;
  font-size: 1em;
  position: relative;
  transition: all 0.6s;
  padding-bottom: 3px;
}

.nav-item a:hover::before {
  width: 100%;
  left: 0;
  background: #cd212a;
}

.nav-item a:hover,
.active {
  color: #cd212a !important;
  font-weight: 500;
}

/* Portfolio section */
.portfolio-thumbs {
  transition: all 0.3s;
}

.portfolio-thumbs:hover .portfolio-thumb-title {
  text-decoration: underline;
}

.portfolio-thumb-title {
  margin-top: 8px;
  font-size: 16px;
  margin-bottom: 0;
}

.portfolio-thumb-date {
  font-size: 14px;
  color: #888;
}

.card-img-top {
  border-radius: 0;
}

.view-all-portfolio {
  text-align: center;
}

.view-all-btn:hover {
  color: #cd212a;
  text-decoration: underline;
  transition: all 0.3s;
}

/* About Page */
.about-subheading {
  width: 80%;
  margin: 0 auto;
}
.about-subtitle {
  font-size: 1.5rem;
}

.about-divider {
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
}

.company-info {
  font-size: 1rem;
}

.about-job-title {
  text-decoration: underline;
}

/* Portfolio Page */
.filter-projects {
  margin: 0 auto;
  display: table;
}

.filter-button-list {
  padding: 10px 10px;
  position: relative;
  width: 100%;
}

.filter-button-list li {
  list-style: none;
  padding: 5px 20px;
  font-size: 14px;
  float: left;
  margin-right: 15px;
  text-transform: uppercase;
}

.filter-button-list li:hover,
.filter-active {
  background-color: #666;
  color: white;
  transition: all 0.4s;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.work-main-banner {
  width: 100%;
}

.desc-left {
  font-size: 14px;
}

.desc-left-title {
  text-transform: uppercase;
  color: #999;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 3px;
}

.portfolio-result img {
  width: 100%;
}

.portfolio-screenshot {
  width: 100%;
  margin-bottom: 20px;
}

.w-mobileweb img {
  max-height: 400px;
  width: auto;
}

/* Blog */
.blog-img {
  max-height: 100px;
}

/* WIP */
.wip-img {
  max-width: 60%;
}

.wip-text {
  font-size: 20px;
}

@media (min-width: 992px) {
  .nav-item a::before {
    content: "";
    width: 0;
    height: 0.1em;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: #cd212a;
    transition: all 0.3s;
  }
}
