@media screen and (max-width : 760px){

    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
}

body {
        padding-top: 10px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 40px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

/*Create a horizontal list with spacing*/
.nav-bar li {
    /*display:inline-block;*/
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    text-decoration: none;
    color: #fff;
    background: #bbb;
    text-align: center;
    padding: 10px 0;
    display: none;
    max-width: 50px;
    border-radius: 3px;
    margin: 0 auto;
}
.show-menu i{
  margin-right: 0px;
}

.main-skills {
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 30px;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}
.main-sentence{
  font-family: "Roboto Slab", Serif;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  color: #ff9900;
}
.btn-aboutme{
  font-size: 13px;
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  line-height: 20px;
  color: #333333;
  text-align: center;
  padding: 10px 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  margin: 50px 0px;
}
.btn-aboutme:hover,
.btn-aboutme:focus,
.btn-aboutme:active
{
  color: #cd212a;
  border: 1px solid #cd212a;
  text-decoration: none;
  display: inline-block;
}
.ux-designer{
  color: #cd212a;
  font-weight: 700;
}
.main-font{
  letter-spacing: 1px;
}
.nav-box{
  float: right;
  margin-top: 10px;
}
.nav-box ul{
  text-align: center;
}
.main-nav{
  color: #999;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.main-nav:hover,
.main-nav:focus,
.main-nav:active{
  color: #333;
  border: 0.01em solid #e3e3e3;
  background-color: #f5f5f5;
  border-radius: 0;
}
.main-hello{
  font-family: "Roboto Slab", Serif;
  font-weight: 300;
}
.web-developer{
  font-weight: 300;
}
.works-box{
  padding: 10px;
  background-color: #e6e6e6;
}
.works-brief{
  line-height: 15px;
  font-size: 12px;
  text-align: center;
  color: #555;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-bottom: 0px;
}
h3.logo{
  float:left;
  display: inline-block;
  color: #999;
  letter-spacing: 5px;
  font-weight: 900;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
h3.logo a:hover,
h3.logo a:focus{
  color: #cd212a;
}
.recent-works{
  text-align: center;
  letter-spacing: 2px;
  font-family: Lato, Serif;
  color: #666;
  text-transform: uppercase;
  font-weight: 300;
  margin: 40px;
}
a.main-nav:hover{
  color: #cd212a;
  background-color: #fff !important;
}
.social-links{
  font-size: 30px;
  color: #999;
  letter-spacing: 5px;
}
.social-links ul{
  margin: 0px;
}
.social-links i{
  padding-left: 7px;
}
.clients-logo img{
  max-width: 100px;
  max-height: 50px;
  margin: 20px; 
}
.clients{
  font-size: 12px;
  color: #666;
  margin-top: 50px;
  font-family: Roboto slab, Serif;
}


/*about.html*/

.about-main{
  height: auto;
  padding: 20px;
}
.about-details{
  margin: 10px;
}
.about-hr{
  border-top: 1px dashed #e6e6e6;
  /*margin-left: -20px;*/
}
.about-right-title{
  margin-bottom: 3px;
  color: #cd212a;
}
.about-right-title.edu{
  color: #333;
}
.about-right-date{
  font-size: 13px;
  color: #999;
  margin-left: 25px;
}
.company-desc{
  font-size: 10px;
  font-style: italic;
  color: #aaa;
  line-height: 12px;
  letter-spacing: 0.03em;
}
.work-place{
  margin-bottom: 2px;
  color: #999;
}
.btn-download{
  font-size: 11px;
  border: 1px solid #cccccc;
  line-height: 12px;
  color: #333333;
  text-align: center;
  padding: 10px 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.btn-download:hover,
.btn-download:focus,
.btn-download:active
{
  color: #cd212a;
  border: 1px solid #cd212a;

}
.about-download{
  margin-top: 40px;
  margin-bottom: 40px;
}
.about-summary{
  max-width: 900px;
  font-family: Roboto slab, Serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
}
.about-highlight{
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #ef9499;
}
.icon{
  margin-right: 5px;
}
