.works-container ul{
  padding: 0;
  position: relative;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;

}
.works-container ul li{
  list-style: none;
  float: left;
  padding: 5px 15px;
  color: #999;
  /*margin-right: 15px;*/
  text-transform: uppercase;
  margin-bottom: 5px;
}
.works-container ul li:hover,
.works-container .active{
  background: #cd212a;
  color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
li.hover-none:hover{
  background: none !important;
  color: #999 !important;
}
.works-container{
  position: relative;
  box-sizing: border-box;
}
.works-sorting{
  margin: 0 auto;
  display: table;
  margin-bottom: 10px;
}
.works-container .box{
  height: auto;
  text-align: center;
  color: #666;
  font-size: 2em;
  float: left;
  box-sizing: border-box;
  text-transform: uppercase;
}
.works-thumb-img{
  overflow: hidden;
}
.works-thumb{
  font-size: 12px;
  color: #b9b9b9;
  padding: 10px;
}
.thumb-title{
  font-size: 16px;
  color: #333;
  text-transform: none;
}
.thumb-date{
  text-transform: none;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 40px; /* Place the button at the bottom of the page */
    right: 40px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(136, 143, 154, 0.3); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 60px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    height: 60px;
    width: 60px;
    font-size: 30px;
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#myBtn:hover {
    color: #333; /* Add a dark-grey background on hover */
}

