.works-main-banner{
  margin-bottom: 20px;
  height: auto;
  max-height: 400px;
  overflow: hidden;
}
.desc-container{
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 60px;
}
.desc-left-title{
	text-transform: uppercase;
	color: #999;
	letter-spacing: 4px;
	font-weight: bold;
	/*font-size: 16px;*/
	margin-bottom: 3px;
}
.desc-left{
	margin-bottom: 15px;
}

.desc-work-title{
	font-weight: 900;
	margin-bottom: 30px;
	font-family: Roboto Slab, Serif;
}
.desc-right-title{
	letter-spacing: 1px;
	color: #999;
  	letter-spacing: 2px;
  	text-transform: uppercase;
  	margin: 10px 0;
	/*font-family: Roboto Slab, Serif;*/
}
ul.my-role{
	margin: 0 0 10px 18px;
}
.my-role li{
	font-size: 12px;
	line-height: 15px;
}
.result-cap{
	text-align: center;
	color: #999;
	font-size: 12px;
	margin-top: 5px;
}
.work-process-title{
	font-size: 17px;
	font-weight: 700;
	margin: 10px 0px;
	color: #333;
}
.work-img{
	min-height: 155px;
	max-height: 300px;
}
video.col-sm-12{
	padding-left: 0px;
}
.video-box{
	padding-left: 0px !important;
}
.works-hr{
	border-top: 1px dashed #e6e6e6;
	margin: 20px 0;
}
.result-desc{
	margin-top: 5px;
	margin-bottom: 20px;
    text-align: center;
    color: #999;
    font-size: 12px;
}
.works-quote{
	font-family: Roboto Slab, italic;
	font-size: 18px;
	font-style: italic;
	color: #666;
	line-height: 25px;
	text-align: center;
	margin: 20px 0;
	padding: 0 90px;
}
.img-box{
	border: 1px solid #ddd;
	margin-bottom: 5px;
}
.moments{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #999;
	margin-top: 20px;
}